body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: url("/static/images/bg2.png") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    color: white;
}

.title {
    margin-top: 30px;
    font-size: 3rem;
    text-shadow: 0 0 10px black;
}

.grid {
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.box {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    padding: 30px;
    border-radius: 12px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    backdrop-filter: blur(4px);
}

.box:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.08);
}

/* Popup */

.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    color: black;
    width: 450px;
    padding: 35px;
    border-radius: 12px;
    text-align: center;
    animation: fadeIn 0.4s ease;
}

.popup.open {
    display: flex;
}


.popup-content img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Snow animation */

.snow {
    pointer-events: none;
    background-image: url('/static/images/snow.png');
    position: fixed;
    inset: 0;
    animation: snowfall 15s linear infinite;
    opacity: 0.7;
}

@keyframes snowfall {
    from { background-position: 0 -1000px; }
    to   { background-position: 0 1000px; }
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.7); }
    to   { opacity: 1; transform: scale(1); }
}

.box.locked {
    opacity: 0.4;
    cursor: not-allowed;
    filter: grayscale(1);
    transform: none !important;
}

.box.locked:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: none;
}


.music-btn {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.0rem;
    padding: 0;
}

.admin-invisible-btn {
    background: transparent;
    border: none;
    color: transparent;
    position: fixed;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 20px;
}

.admin-invisible-btn:hover {
    color: #f00;
}
